/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

@font-face {
  font-family: "Fira-Sans";
  src: url("../fonts/FiraSans-Regular.ttf");
  src: url("../fonts/FiraSans-SemiBold.ttf");
}
body {
  font-family: "Fira-Sans";
  color: #191919;
  line-height: 140%;
}

.container {
  max-width: 1388px;
  padding: 0 24px;
  margin: 0 auto;
}
@media (max-width: 1170px) {
  .container {
    padding: 15px;
  }
}

.main button {
  transition: background-color 0.2s ease-in;
}
.main button:hover {
  background-color: rgba(5, 176, 147, 0.85);
}

.ymap {
  margin-top: 100px;
  text-align: center;
}
.ymap iframe {
  border-radius: 12px;
  width: clamp(16.875rem, 6.411rem + 52.32vw, 53.5rem);
}

.no-scroll {
  overflow: hidden;
}

.none {
  display: none !important;
}

:root {
  --header-bg: #191919;
  --accent: #05b093;
}

.header {
  background-color: var(--header-bg);
  margin-bottom: 60px;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 102px;
  font-size: 16px;
  position: relative;
}
.header__nav a {
  color: #fff;
}
@media (max-width: 1170px) {
  .header__nav {
    flex-wrap: wrap;
  }
}
@media (max-width: 425px) {
  .header__nav {
    display: grid;
    justify-content: unset;
  }
  .header__nav button {
    grid-row-start: 1;
    justify-self: flex-end;
  }
  .header__nav a {
    justify-self: center;
  }
}

.header__nav-list {
  display: flex;
  gap: 40px;
}
@media (max-width: 1170px) {
  .header__nav-list {
    width: 100%;
    justify-content: space-between;
  }
}
@media (max-width: 800px) {
  .header__nav-list {
    display: none;
  }
}

.header__list-item {
  position: relative;
  transition: all 0.2s ease-in;
}
.header__list-item::after {
  content: "";
  position: absolute;
  height: 6px;
  width: 6px;
  background-color: #fff;
  transform: rotate(135deg);
  right: -20px;
  bottom: 40%;
  border-radius: 1px;
}
.header__list-item:last-child::after {
  content: none;
}
.header__list-item:hover {
  opacity: 0.85;
}

.concert {
  display: flex;
  gap: 24px;
  margin-bottom: 184px;
}
@media (max-width: 1250px) {
  .concert {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
}

.concert__slider-prev {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.concert__slider-prev img {
  border-radius: 8px;
}

.concert__slider-card {
  padding: 12px 16px;
  background-color: rgba(25, 25, 25, 0.05);
  display: flex;
  align-items: center;
  gap: 24px;
  width: clamp(15.938rem, 13.098rem + 14.2vw, 25.875rem);
  max-height: 104px;
}

.concert__slider-text {
  font-size: clamp(0.75rem, 0.679rem + 0.36vw, 1rem);
}

@media (max-width: 1250px) {
  .concert__slider-img {
    max-width: 750px;
  }
}

.afish-section {
  line-height: 140%;
  margin-bottom: 134px;
}

.afish__title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
@media (max-width: 650px) {
  .afish__title {
    display: grid;
    gap: 80px;
    justify-content: center;
    text-align: center;
  }
}

.afish__title-text {
  font-size: 48px;
}

.events {
  display: flex;
  align-items: center;
  gap: 32px;
  font-size: 24px;
  color: #191919;
  transition: all 0.2s ease-in;
}
.events:hover {
  opacity: 0.85;
}

.afish__cards {
  display: grid;
  gap: 80px;
}
@media (max-width: 1250px) {
  .afish__cards {
    justify-content: center;
  }
}

.afish__card {
  display: flex;
  gap: 62px;
  padding: 32px 60px;
  background-color: rgba(25, 25, 25, 0.05);
}
.afish__card img {
  border-radius: 14px;
}
@media (max-width: 1250px) {
  .afish__card {
    flex-direction: column;
    border-radius: 25px;
    gap: 35px;
  }
}
@media (max-width: 600px) {
  .afish__card {
    padding: 32px 30px;
  }
}

.afish__card-date {
  text-transform: uppercase;
  text-align: center;
  align-content: center;
  color: #191919;
  opacity: 0.75;
}

.afish__date-number {
  font-size: 64px;
  margin-bottom: 30px;
  display: block;
}

.afish__date-text {
  font-size: 32px;
  display: block;
}

.afish__card-text {
  display: grid;
  max-width: 415px;
}

.afish__card-title {
  font-size: 32px;
  margin-bottom: 16px;
  line-height: 140%;
}

.afish__card-pr {
  font-size: 16px;
  opacity: 0.75;
  margin-bottom: 40px;
}

.afish__card-icons {
  display: flex;
  max-height: 32px;
  gap: 30px;
}
@media (max-width: 500px) {
  .afish__card-icons {
    display: grid;
    gap: 15px;
    justify-content: center;
    max-height: unset;
  }
}

.afish__card-item {
  display: flex;
  align-items: center;
  gap: 24px;
  opacity: 0.75;
}

.news {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 160px;
}
@media (max-width: 1250px) {
  .news {
    grid-template-columns: 1fr;
    gap: 80px;
    justify-items: center;
  }
}

.news__block-wrapper {
  display: flex;
  gap: 24px;
}
@media (max-width: 740px) {
  .news__block-wrapper {
    display: grid;
    gap: 80px;
  }
}

.news__title {
  font-size: 48px;
  line-height: 140%;
  margin-bottom: 60px;
}

.news__card-block {
  max-width: 300px;
}

.news__card-item img {
  margin-bottom: 32px;
  font-size: 24px;
  border-radius: 12px;
}

.news__card-title {
  font-size: 24px;
  margin-bottom: 24px;
  font-weight: bold;
}

.news__card-text {
  font-size: 16px;
  opacity: 0.75;
}

.news__excursions {
  justify-self: flex-end;
}
@media (max-width: 1250px) {
  .news__excursions {
    justify-self: unset;
  }
}

.excursions__img-wrapper {
  position: relative;
}

.excursions__title {
  position: absolute;
  bottom: 8%;
  left: 4%;
  color: #fff;
  font-size: 32px;
}

.excursions__calendar {
  padding: 24px;
  background-color: rgba(25, 25, 25, 0.05);
  display: flex;
  gap: 38px;
}
@media (max-width: 600px) {
  .excursions__calendar {
    display: grid;
    grid-template-columns: 1fr;
    padding: 12px;
  }
}

.excursions__calendar-title {
  font-size: 32px;
  font-weight: bold;
}

.month__button-wrapper {
  display: flex;
  gap: 8px;
}

.month__button {
  padding: 12px;
  background-color: var(--accent);
}

#next img {
  rotate: 180deg;
}

.dates__list {
  display: flex;
  flex-wrap: wrap;
  max-width: 306px;
  gap: 4px;
}

.dates__item {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(25, 25, 25, 0.3);
  color: #fff;
  font-weight: bold;
  border-radius: 4px;
}

.dates__item-active {
  background-color: var(--accent);
}

.month__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
@media (max-width: 600px) {
  .month__wrapper {
    grid-row: 2;
  }
}

.info {
  display: grid;
}

.info__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}
@media (max-width: 750px) {
  .info__main {
    display: grid;
    gap: 30px;
    justify-content: center;
    text-align: center;
  }
}

.info__title {
  font-size: 48px;
  font-weight: bold;
  line-height: 140%;
}

@media (max-width: 750px) {
  .events-text {
    justify-content: center;
  }
}

.info__events {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.info__events-card {
  display: flex;
  align-items: center;
  gap: 27px;
}

.info__card-date {
  height: 100px;
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--accent);
  color: #fff;
  border-radius: 12px;
}
.info__card-date p {
  line-height: 140%;
}

.info__card-text {
  font-size: 32px;
}

.info__card-month {
  font-size: 18px;
}

.footer {
  margin-top: 150px;
}

.footer__wrap {
  min-height: 386px;
  background-color: #191919;
  position: relative;
}

.footer__nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 60px;
  padding-bottom: 60px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
@media (max-width: 1200px) {
  .footer__nav {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
}
@media (max-width: 700px) {
  .footer__nav {
    grid-template-columns: 1fr;
    gap: 40px;
  }
}
.footer__nav a {
  transition: all 0.2s ease-in;
}
.footer__nav a:hover {
  opacity: 0.85;
}

.footer__events {
  color: #fff;
}
@media (max-width: 1200px) {
  .footer__events {
    grid-column-start: 2;
    grid-row-start: 3;
  }
}
@media (max-width: 700px) {
  .footer__events {
    grid-column-start: unset;
    grid-row-start: unset;
  }
}

.footer__events-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 32px;
}

.footer__evenets-list {
  display: flex;
  gap: 24px;
}

.footer__evenets-link {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

.footer__contacts {
  color: #fff;
}
@media (max-width: 1200px) {
  .footer__contacts {
    grid-area: 3;
  }
}

.footer__contacts-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 32px;
}

.footer__contacts-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer__contacts-item {
  display: flex;
}

.footer__contacts-link {
  color: white;
  font-size: 16px;
}

.mail {
  border-bottom: 1px solid #fff;
}

.footer__copyright {
  position: absolute;
  color: #fff;
  opacity: 0.5;
  bottom: 32px;
  left: calc(50% - 24px);
}

.tickets__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}
@media (max-width: 900px) {
  .tickets__wrapper {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}

.tickets__text-block {
  max-width: 636px;
}

.tickets__title {
  font-size: 48px;
  text-align: center;
  margin-bottom: 100px;
  line-height: 140%;
}

.tickets__text-block-title {
  font-size: 24px;
  line-height: 140%;
  margin-bottom: 24px;
}

.tickets__actors {
  display: grid;
  gap: 14px;
}

.tickets__item {
  font-size: 16px;
}

.tickets__text {
  display: grid;
  gap: 15px;
  margin-bottom: 40px;
}

.tickets__plan-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 24px;
}

.tickets__plan {
  display: grid;
  gap: 10px;
  margin-bottom: 40px;
}

.tickets__cost-title {
  font-size: 24px;
  font-weight: bold;
  line-height: 140%;
}

.tickets__price {
  font-size: 16px;
}

.tickets__cost {
  margin-bottom: 40px;
}

.tickets__button {
  margin-bottom: 40px;
}

.tickets__imgs-block {
  display: flex;
  gap: 24px;
  width: clamp(16.875rem, 16.232rem + 3.21vw, 19.125rem);
}
.tickets__imgs-block img {
  border-radius: 12px;
}
@media (max-width: 1370px) {
  .tickets__imgs-block {
    flex-direction: column;
  }
}

.button {
  padding: 15px 30px;
  background-color: var(--accent);
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 50px;
  align-self: center;
  color: #fff;
  flex-shrink: 0;
}

.contacts__title {
  text-align: center;
  font-size: 48px;
  line-height: 140%;
  margin-bottom: 100px;
}

.address__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 24px;
}

.addres__text {
  font-size: 16px;
}

.contacts__address {
  margin-bottom: 40px;
}

.contacts__opening-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 24px;
}

.contacts__opening-list {
  display: grid;
  gap: 12px;
}

.contacts__second-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 24px;
}

.conctacts__second-link {
  font-size: 16px;
  color: #191919;
}

.contacts__second-info {
  margin-bottom: 40px;
}

.contacts__second-rent {
  margin-bottom: 40px;
}

.contacts__rent-title {
  font-size: 24px;
  margin-bottom: 24px;
}

.contacts__second-social a {
  color: #191919;
}

.contacts-main {
  justify-items: center;
}

.contacts__row {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 950px) {
  .contacts__row {
    flex-direction: column;
    gap: 100px;
  }
}

.contacts__wrapper {
  max-width: 966px;
  margin: 0 auto;
}

.mobile__button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid var(--accent);
  opacity: 0.9;
  gap: 3px;
}
@media (min-width: 800px) {
  .mobile__button {
    display: none;
  }
}

.mobile__button-item {
  height: 1px;
  background-color: #fff;
  opacity: 0.7;
  border-radius: 3px;
  display: block;
}

.mobile__button-item1 {
  width: 35%;
}

.mobile__button-item2 {
  width: 50%;
}

.mobile__button-item3 {
  width: 55%;
}

.mobile__button-item4 {
  width: 40%;
}

.mobile__wrapper {
  position: fixed;
  z-index: 2;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 120vh;
  background-color: #1e1e1e;
  padding: 15px;
}

.mobile__wrap-list {
  display: grid;
  gap: 35px;
  justify-items: center;
}

.mobile__list-item {
  font-size: 17px;
}

.mobile__button-close {
  width: 30px;
  height: 30px;
  align-self: flex-end;
  position: relative;
  border-radius: 50%;
  border: 1px solid var(--accent);
  opacity: 0.9;
  margin-bottom: 40px;
}

.mobile__list-link {
  transition: all 0.2s ease-in;
  opacity: 0.9;
}
.mobile__list-link:hover {
  opacity: 0.7;
}/*# sourceMappingURL=main.css.map */