// afish-section

.afish-section {
	line-height: 140%;
	margin-bottom: 134px;
}
.afish__title {
	display: flex;
	justify-content: space-between;
	margin-bottom: 100px;

	@media (max-width: 650px) {
		display: grid;
		gap: 80px;
		justify-content: center;
		text-align: center;
	}
}

.afish__title-text {
	font-size: 48px;
}

.events {
	display: flex;
	align-items: center;
	gap: 32px;
	font-size: 24px;
	color: #191919;
	transition: all 0.2s ease-in;

	&:hover {
		opacity: 0.85;
	}
}

.afish__title-events {
	// @media (max-width:)
}

.afish__cards {
	display: grid;
	gap: 80px;

	@media (max-width: 1250px) {
		justify-content: center;
	}
}

.afish__card {
	display: flex;
	gap: 62px;
	padding: 32px 60px;
	background-color: rgb(25, 25, 25, 0.05);

	img {
		border-radius: 14px;
	}
	@media (max-width: 1250px) {
		flex-direction: column;
		border-radius: 25px;
		gap: 35px;
	}
	@media (max-width: 600px) {
		padding: 32px 30px;
	}
}

.afish__card-date {
	text-transform: uppercase;
	text-align: center;
	align-content: center;
	color: #191919;
	opacity: 0.75;
}

.afish__date-number {
	font-size: 64px;
	margin-bottom: 30px;
	display: block;
}

.afish__date-text {
	font-size: 32px;
	display: block;
}

.afish__card-text {
	display: grid;
	max-width: 415px;
}

.afish__card-title {
	font-size: 32px;
	margin-bottom: 16px;
	line-height: 140%;
}

.afish__card-pr {
	font-size: 16px;
	opacity: 0.75;
	margin-bottom: 40px;
}
.afish__card-icons {
	display: flex;
	max-height: 32px;
	gap: 30px;

	@media (max-width: 500px) {
		display: grid;
		gap: 15px;
		justify-content: center;
		max-height: unset;
	}
}
.afish__card-item {
	display: flex;
	align-items: center;
	gap: 24px;
	opacity: 0.75;
}
