.contacts__title {
	text-align: center;
	font-size: 48px;
	line-height: 140%;
	margin-bottom: 100px;
}


.address__title {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 24px;
}

.addres__text {
	font-size: 16px;
}

.contacts__address {
	margin-bottom: 40px;
}

.contacts__opening-title {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 24px;
}

.contacts__opening-list {
	display: grid;
	gap: 12px;
}

.contacts__second-title {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 24px;
}

.conctacts__second-link {
	font-size: 16px;
	color: #191919;
}

.contacts__second-info {
	margin-bottom: 40px;
}

.contacts__second-rent {
	margin-bottom: 40px;
}

.contacts__rent-title {
	font-size: 24px;
	margin-bottom: 24px;
}

.contacts__second-social {
	a {
		color: #191919;
	}
}

.contacts-main {
	justify-items: center;
}
.contacts__row {
	display: flex;
	justify-content: space-between;

	@media (max-width:950px) {
		flex-direction: column;
		gap: 100px;
	}
}

.contacts__wrapper {
	max-width: 966px;
	margin: 0 auto;
}
