.header {
	background-color: var(--header-bg);
	margin-bottom: 60px;
}

.header__nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 102px;
	font-size: 16px;
	position: relative;
	a {
		color: #fff;
	}
	@include mediaTablet {
		flex-wrap: wrap;
	}

	@media (max-width: 425px) {
		display: grid;
		justify-content: unset;
		button {
			grid-row-start: 1;
			justify-self: flex-end;
		}
		a {
			justify-self: center;
		}
	}
}

.header__nav-list {
	display: flex;
	gap: 40px;
	@include mediaTablet {
		width: 100%;
		justify-content: space-between;
	}

	@media (max-width: 800px) {
		display: none;
	}
}

.header__list-item {
	position: relative;
	transition: all 0.2s ease-in;

	&::after {
		content: '';
		position: absolute;
		height: 6px;
		width: 6px;
		background-color: #fff;
		transform: rotate(135deg);
		right: -20px;
		bottom: 40%;
		border-radius: 1px;
	}
	&:last-child {
		&::after {
			content: none;
		}
	}

	&:hover {
		opacity: 0.85;
	}
}

.header__nav-link {
}
