.tickets__wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 24px;

	@media (max-width: 900px) {
		grid-template-columns: 1fr;
		justify-items: center;
	}
}

.tickets__text-block {
	max-width: 636px;
}

.tickets__title {
	font-size: 48px;
	text-align: center;
	margin-bottom: 100px;
	line-height: 140%;
}

.tickets__text-block-title {
	font-size: 24px;
	line-height: 140%;
	margin-bottom: 24px;
}

.tickets__actors {
	display: grid;
	gap: 14px;
}
.tickets__item {
	font-size: 16px;
}

.tickets__text {
	display: grid;
	gap: 15px;
	margin-bottom: 40px;
}

.tickets__plan-title {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 24px;
}

.tickets__plan {
	display: grid;
	gap: 10px;
	margin-bottom: 40px;
}

.tickets__cost-title {
	font-size: 24px;
	font-weight: bold;
	line-height: 140%;
}
.tickets__price {
	font-size: 16px;
}

.tickets__cost {
	margin-bottom: 40px;
}

.tickets__button {
	margin-bottom: 40px;
}

.tickets__imgs-block {
	display: flex;
	gap: 24px;
	width: clamp(16.875rem, 16.232rem + 3.21vw, 19.125rem);
	img {
		border-radius: 12px;
	}

	@media (max-width: 1370px) {
		flex-direction: column;
	}
}
