@font-face {
	font-family: 'Fira-Sans';
	src: url('../fonts/FiraSans-Regular.ttf');
	src: url('../fonts/FiraSans-SemiBold.ttf');
}

body {
	font-family: 'Fira-Sans';
	color: #191919;
	line-height: 140%;
}

.container {
	max-width: 1388px;
	padding: 0 24px;
	margin: 0 auto;
}

.main {
	button {
		transition: background-color 0.2s ease-in;

		&:hover {
			background-color: rgb(5, 176, 147, 0.85);
		}
	}
}

.ymap {
	margin-top: 100px;
	text-align: center;

	iframe {
		border-radius: 12px;
	}
}
